<div class="slick-slider">
  {% for video in videos %}
    <div>{{ video }}</div>
  {% endfor %}
</div>

<script>
(function ($) {
  $(document).ready(function () {
    $('.slick-slider').slick({
      // Add Slick slider settings here, such as autoplay, arrows, etc.
    });
  });
})(jQuery);
</script>
