{#
/**
 * @file
 * Default theme implementation for the YouTube video page.
 *
 * Available variables:
 * - None
 *
 * @see template_preprocess_youtube_integration_video_page()
 */
#}

<div class="video-page">
  <h1>Video Page</h1>
  {{ video_player }}
  {{ video_title }}
  {# Add any other video details you want to display. #}
</div>
