<div class="playlist-item">
  <a href="{{ playlist_url }}">
    <img src="{{ playlist.thumbnail }}" alt="{{ playlist.title }}" />
    <h3>{{ playlist.title }}</h3>
    <p>{{ playlist.description }}</p>
  </a>
</div>